<footer style="background-color: black; padding: 10px 0; display:flex; text-align: center; justify-content: center;">
    <br>
    <br>  <p style="color: #fff; font-weight: 700; font-size: 1.2rem;">&copy; <% new Date().getFullYear(); %> RoadMapster. All rights reserved.</p>
  </footer>