<div class="fronttcontainer">
    <div class="content">
    <div class="header">
    <h1 style="color: black;">Data Analyst</h1>
    <br>
    <p style="color: rgb(107,114,128);">Step by step guide to become a modern data analyst enginner in  <%= new Date().getFullYear() %> </p>
    <br>
    <button class="backbutton"> <a href="/dashboard" style="color: #fff; text-decoration: none;">Back-></a></button>
    <br>
    <br>
    <h3><i class="fa-solid fa-graduation-cap"></i> What is data analysis ?</h3>
    </div>
    <div class="img-container">
        <img src="img/bg4.jpg"  class="map" alt="">
        </div>
    </div>
    </div>