
<div class="dashcontainer" >
    <div class="content">
        <div class="header">
            <h1>Developer Roadmaps</h1>
            <br>
            <p style="font-weight: 700;">RoadMapster is a community effort to create roadmaps, guides and other educational content to help guide developers in picking up a path and guide their learnings.</p>
        </div>
        <br>
        <h1 style="color: #fff;">Start learning..</h1>
        <br>
        <p style="font-weight: 700;" class="header-p">Your favorite maps show up here</p>
        <br>
        <div class="role-maps-box">
            <h2>Role based Maps</h2>
        </div>
        <div class="grid-container">
            <a class="link" href="/frontend"> <div class="grid-item">Frontend</div></a>
            <a class="link" href="/backend">  <div class="grid-item">Backend</div></a>
            <a class="link" href="/dataanalyst"> <div class="grid-item">Data Analyst</div></a>
            <a class="link" href="/game"> <div class="grid-item">Game Developer</div></a>
            <a class="link" href="/android"> <div class="grid-item">Android</div></a>
            <a class="link" href="/cyber">  <div class="grid-item">Cybersecurity</div></a>
        </div>
        <br>
        <br>
        <div class="skill-maps-box">
            <h2>Skill based Maps</h2>
        </div>
        <div class="skill-grid-container">
            <a class="link" href="/cpp"> <div class="grid-item">C++</div></a>
            <a class="link" href="/java">  <div class="grid-item">Java</div></a>
            <a class="link" href="/python"><div class="grid-item">Python</div></a>
        </div>
    </div>
</div>
