
<div class="error-c"><div id="error-page">
    <img src="/img/bg13.jpg" alt="Error Image" id="error-image">
    <h1>Oops! Page Not Found</h1>
    <p>We're sorry, but the page you were looking for doesn't exist.</p>
</div>
</div>