<div class="home-body">
<div id="loader">
    <h1>&lt Roadmapster. &gt</h1>
    </div>
    <nav id="navbar">
      <div id="logo">
        <img
          src="https://cdn-icons-png.flaticon.com/128/17139/17139400.png"
          alt="OnlineMeals.com"
        />
      </div>
      <h3>&ltRoadmapster&gt</h3>
      <ul>
        <li class="item"><a href="#home">Home</a></li>
        <li class="item"><a href="#services">About</a></li>
        <li class="item"><a href="/login">Sign Up</a></li>
        <li class="item"><a href="#contact">Contact Us</a></li>
      </ul>
    </nav>
    <section id="home">
      <h1>Welcome to RoadMapster</h1>
      <div class="text">
        <p id="first">
          Master Every Milestone: Study Roadmaps for every courses and careers
        </p>
        <p id="second">
          Roadmapster helps to create roadmaps, guides and other educational
          content to help guide developers in picking up a path and guide their
          learnings.
        </p>
      </div>
      <button class="btn"> <a href="/login">Sign Up &gt</a></button>
      <br>
      <div id="movingdiv">
        <div id="blurleft"></div>
        <div class="move">
          <img
            src="https://img.icons8.com/?size=96&id=20909&format=png"
            alt=""
          />
          <img
            src="https://img.icons8.com/?size=96&id=21278&format=png"
            alt=""
          />
          <img
            src="https://img.icons8.com/?size=96&id=108784&format=png"
            alt=""
          />
          <img
            src="https://img.icons8.com/?size=96&id=13441&format=png"
            alt=""
          />
          <img
            src="https://img.icons8.com/?size=96&id=13679&format=png"
            alt=""
          />
          <img
            src="https://img.icons8.com/?size=96&id=TpULddJc4gTh&format=png"
            alt=""
          />
          <img
            src="https://img.icons8.com/?size=100&id=39848&format=png"
            alt=""
          />
          <img
            src="https://img.icons8.com/?size=160&id=tBBf3P8HL0vR&format=png"
            alt=""
          />
        </div>
        <div class="move">
          <img
            src="https://img.icons8.com/?size=96&id=20909&format=png"
            alt=""
          />
          <img
            src="https://img.icons8.com/?size=96&id=21278&format=png"
            alt=""
          />
          <img
            src="https://img.icons8.com/?size=96&id=108784&format=png"
            alt=""
          />
          <img
            src="https://img.icons8.com/?size=96&id=13441&format=png"
            alt=""
          />
          <img
            src="https://img.icons8.com/?size=96&id=13679&format=png"
            alt=""
          />
          <img
            src="https://img.icons8.com/?size=96&id=TpULddJc4gTh&format=png"
            alt=""
          />
          <img
            src="https://img.icons8.com/?size=100&id=39848&format=png"
            alt=""
          />
          <img
            src="https://img.icons8.com/?size=160&id=tBBf3P8HL0vR&format=png"
            alt=""
          />
        </div>

        <div id="blurright"></div>
      </div>
    </section>
    <br>
    <br>
    <section  id="services" class="fieldscontainer">
      <h1>Fields</h1>
      <div id="fields">
        <div class="card">
          <img
            src="https://tse3.mm.bing.net/th?id=OIP.Jg35DTU8xEFi-BbUaql9CQHaEI&pid=Api&P=0&h=180"
            alt=""
          />
          <div class="carddata">
            <h2>Web Development</h2>
          </div>
        </div>
        <div class="card">
          <img
            src="https://tse1.mm.bing.net/th?id=OIP.b3oo7HykcHWyIiFb8zyg7gHaE7&pid=Api&P=0&h=180"
            alt=""
          />
          <div class="carddata">
            <h2>App Development</h2>
          </div>
        </div>
        <div class="card">
          <img
            src="https://media.istockphoto.com/id/1483358448/photo/programmer-people-working-laptops-or-smartphones-with-ai-artificial-intelligence-software.webp?b=1&s=170667a&w=0&k=20&c=zLAohE7G6E4_WC2bUeL1aF1cdvbLZuq6LE-E3Zwc2bQ="
            alt=""
          />
          <div class="carddata">
            <h2>Data Science</h2>
          </div>
        </div>
        <div class="card">
          <img
            src="https://tse3.mm.bing.net/th?id=OIP.ObUD1gUhMMfKOScOZsFKGQHaED&pid=Api&P=0&h=180"
            alt=""
          />
          <div class="carddata">
            <h2>Game Development</h2>
          </div>
        </div>
        <div class="card">
          <img
            src="https://tse3.mm.bing.net/th?id=OIP.-TKzONS0UY7rLlbfvKkfWgHaEK&pid=Api&P=0&h=180"
            alt=""
          />
          <div class="carddata">
            <h2>Java Programming</h2>
          </div>
        </div>
        <div class="card">
          <img
            src="https://tse1.mm.bing.net/th?id=OIP.whoeDJcRcCDbE1zPsL99mQHaEo&pid=Api&P=0&h=180"
            alt=""
          />
          <div class="carddata">
            <h2>C++ Programming</h2>
          </div>
        </div>
      </div>
    </section>
    <section class="contact">
      <h1 id="contact">Contact Us</h1>
      <div class="form">
        <form action="https://formspree.io/f/mgvwvbar" method="POST"> 
        <input type="text" placeholder="Email" name="email" class="email" />
        <input type="text" placeholder="Comments*" class="email" id="comment" />
        <button class="btn">Submit</button>
        </form>
      </div>
    </section>
    <div class="separation"></div>
    </div>
