
<div class="loginbody">
<div class="logincontainer">
    <h1 class="login-h">Login</h1>
    <p class="welcome-text">Welcome back! Let's take you to your account</p>
    <form action="/login" method="post">
        <input type="text" name="name" placeholder="Name" required>
        <input type="email" name="email" placeholder="Email" required>
        <input type="password" name="password" placeholder="Password" required>
        <input type="submit" class="sub" value="Login">
        <h3>Don't have an account?</h3>
        <a href="/signup" class="signup-link">Create a new account</a>
    </form>
</div>
</div>
